extends layout

block content
  h1= title
  p Welcome to #{title}! Enjoy exploring our website along with LAB Assignment 11.

  div#faster Add in extra
  if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register
  if (user)
    p You are currently logged in as #{user.username}
    a(href="/costumes") Take me to costumes
    br
    a(href="/logout") Logout
  script.
    let value = 1;
    let amt = 2;

    function faster() {
      amt *= 2;
      value += amt;
      document.getElementById('faster').innerText = `Faster ${value} times ${amt}`;
    }

  a(href="/artifacts", class="btn btn-primary mt-3") View Artifacts